$maincolor: #3e4043;
$contentcolor: #ffffff;

.navbar {
  color: $maincolor;
}
.content {
  background: $contentcolor;
}
.footer {
  padding: 40px 0 0 0;
  background: $contentcolor;
  color: $maincolor;
  text-align: center;
}

hr {
  width: 80vw;
  height: 0.5px;
  background: $maincolor;
  margin-bottom: 40px;
}
